*{
    margin: 0%;
    padding: 0%;
    font-family: 'Rubik', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #fff 85%, #c3f5ff 20%);
}
.navsection{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top, #fff 80%, #c3f5ff 20%);

}
.logo{
    width: 40%;
    color: #fff;
    background-image: linear-gradient(#8d98e3 40%, #854fee 60%);
    padding-left: 100px;
    box-sizing: border-box;
}
.logo h1:first-child{
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: myanim 4s infinite;
    animation-direction: alternate;
}
@keyframes myanim {
    50% {
       padding-left: 27%;
    }
    50% {
        padding-right: 27%;
     }
 }
nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    font-size: 17px;
    position: relative;
}
nav a:first-child{
    color: #4458dc;
}
.anchor::before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0%;
    width: 100%;
    border-bottom: 2px solid #4458dc; 
    height: 2px;
    /* transition: all 0.4s linear; */
    /* animation-direction: alternate; */
}

main{
    height: 80vh;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.rightside img{
    /* max-width: 400px; */
    height: 250px;
    width: 250px;
    /* align-items: center; */
    margin-left: 150px;
    margin-top: 120px;
    border-radius: 37% 63% 41% 59% / 100% 0% 100% 0%   ; 

}
.rightside{
    border-radius: 37% 63% 41% 59% / 100% 0% 100% 0%  ; 
    /* background-color: #e8fbff; */
    background-image: linear-gradient( #d4eff5 40%, rgb(255, 255, 255) 60%);

    height: 500px;
    width: 500px;
}
.leftside{
    color: #000;
    text-transform: uppercase
}
.leftside h3:first-child{
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
}
.leftside h3:first-child::after{
    content: "";
    width: 450px;
    height: 3px;
    position: absolute;
    top: 43%;
    left: 20%;
    background: #000;

}
.leftside h1{
    margin-top: 20px;
    font-size: 70px;
    margin-bottom: 25px;
}
.leftside h2{
    margin-bottom: 35px;
    font-weight: 500;
    word-spacing: 4px;
}
.leftside .btn1{
    color: #fff;
    letter-spacing: 0;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    border: double 2px transparent;
    box-shadow: 0 10px 30px rgba(118, 85, 225, .3);
}

.leftside .btn2{
    color: #222;
    border: 2px solid #4458dc;
    background-color: #fff;
    box-shadow: none;
}
.leftside .btn1, .btn2{
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    padding: 12px 25px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    margin-right: 50px;
}
.leftside .btn1:hover{
    color: #222;
    border: 2px solid #4458dc;
    background-color: #fff;
    box-shadow: none;
    background-image: none;
}